.button__primary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  color: var(--light-color);
  background: var(--dark-2-color);

  transition: all 0.3s ease;
}

.button__primary::before {
  content: '';

  position: absolute;
  top: 0;
  left: -100%;

  width: 100%;
  height: 100%;

  background: rgba(255, 255, 255, 0.05);

  transition: all 0.3s ease;
}

.button__primary:hover::before {
  left: 0;
}

.button__primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.button__primary:active {
  transform: translateY(0);
}

.button__primary.button__error:hover {
  background: var(--error-2-color);
}

.button__primary:disabled {
  cursor: not-allowed;
  transform: none;
  background: var(--dark-2-color);
  opacity: 0.5;
}

.button__primary:disabled::before {
  left: -100%;
}
