node_modules
npm-debug.log
yarn-error.log
.pnpm-store
*.tsbuildinfo

*.md

.env.local
.env.development.local
.env.test.local
.env.production.local

.next
out
dist

.DS_Store
.vscode
.idea
.zed
*.swp

*.log

.git
.gitignore

prisma/dev.db
*.db-journal

docs
.DS_Store
