.section {
  padding: 12px 0;
}

.list {
  display: flex;
  flex-direction: column;
  /* gap: 32px; */

  list-style: none;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.items_wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.items_title {
  color: var(--gray-1-color);
}

.noGoals {
  color: var(--gray-1-color);
}

.item {
  display: flex;
  justify-content: space-between;
  gap: 12px;

  border-bottom: 1px solid var(--purple-dark-2-color);

  padding: 12px 0;
}

.item_actions {
  top: 2px;

  display: none;

  transition: all 0.3s ease;
}

.canEdit .item_actions {
  opacity: 0;
}

.canEdit.item:hover .item_actions {
  opacity: 1;
}

.checkbox_wrapper {
  display: flex;
  align-items: center;
  gap: 12px;

  width: 100%;
}

.goalAction {
  width: 100%;

  text-align: start;

  font-size: 16px;

  border: none;
  border-radius: 6px;

  padding: 4px;

  cursor: pointer;

  color: var(--body-color);
  background: none;

  transition: all 0.3s ease-in-out;
}

.isChecked .goalAction {
  text-decoration: line-through;

  color: var(--gray-3-color);
}

.editWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 100%;
}

.editActions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.editInput {
  color: var(--light-color);
  background: none;

  font-size: 16px;

  width: 100%;

  border: none;
  border-radius: 12px;

  padding: 6px 12px;

  outline: 1px solid var(--gray-1-color);
}

.addGoal {
  margin-top: 24px;
}

@media (hover: hover) {
  .canEdit .item_actions {
    display: flex;
    align-items: center;
    gap: 12px;
    align-self: flex-start;
    display: flex;
  }

  .removeBtn {
    display: none;
  }

  .goalAction:hover {
    background: rgba(245, 245, 245, 0.05);
  }
}

@media (hover: none) {
  .canEdit .item_actions {
    display: none;
  }

  .removeBtn {
    display: flex;
  }
}
