.section {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.section:not(:last-child) {
  margin-bottom: 12px;
}

.title {
  font-size: 16px;

  opacity: 0.5;

  overflow-wrap: anywhere;
}

.section_user {
  display: flex;
  flex-direction: column;
  gap: 4px;

  padding: 4px 8px;

  color: var(--popover-user-color);
  background: var(--popover-user-bg);

  border-radius: 12px;
}
