:root {
  --white-color: #ffffff;
  --black-color: #000000;

  --black-color-10: #ffffff1a;
  --black-color-40: #00000066;

  --light-color: #f5f5f5;

  --dark-color: #222222;
  --dark-2-color: #333333;
  --dark-3-color: #262626;

  --purple-dark-color: #201e24;
  --purple-dark-2-color: #231f28;

  --gray-1-color: #888;
  --gray-2-color: #444;

  --error-color: #ff4d4d;
  --error-color-30: #ff4d4d4d;
  --error-2-color: #4a1a1a;

  --info-1-color: #4c82d2;
  --info-2-color: #4c82d266;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: var(--font-jost), sans-serif;
}

body {
  color: var(--body-color);
  background: var(--body-background);

  min-width: 414px;

  font-size: 16px;
}

h1 {
  font-weight: 500;
  font-size: 32px;
}
