.container {
  display: flex;
  align-items: center;
  gap: 10px;

  width: 100%;

  cursor: pointer;

  color: var(--checkbox-color);
}

.container input {
  display: none;
}

.container span {
  overflow-wrap: anywhere;
}

.custom {
  position: relative;
  top: 0;

  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;

  border-radius: 6px;

  background: var(--checkbox-background);

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

  transition: background 0.3s ease-in-out;
}

.custom::after {
  content: '';

  width: 10px;
  height: 10px;

  background: var(--checkbox-custom-after-background);

  border-radius: 3px;

  opacity: 0;

  transition: opacity 0.2s ease-in-out;
}

.container input:checked + .custom {
  background: var(--checkbox-checked-background);
}

.container input:checked + .custom::after {
  opacity: 1;
}

.container input:checked ~ span {
  text-decoration: line-through;

  /* TODO */
  color: #444;
}

.container input:disabled + .custom {
  /* TODO */
  background: #444;

  cursor: not-allowed;

  box-shadow: none;
}

.container input:disabled ~ span {
  color: rgba(119, 119, 119, 0.6);

  cursor: not-allowed;
}

.container input:disabled ~ .custom::after {
  background: rgba(119, 119, 119, 0.6);
}

@media (hover: hover) {
  .custom:hover::after {
    opacity: 0.3;
  }
}
