.dark {
  /* Body */
  --body-color: var(--light-color);
  --body-background: #161617;

  /* Header */
  --header-background: var(--dark-color);
  --header-tab-color: var(--light-color);
  --header-tab-color-hover: rgba(245, 245, 245, 0.05);
  --header-tab-color-active: rgba(245, 245, 245, 0.05);

  /* Aside */
  --aside-background: var(--dark-color);
  --aside-item-color: var(--light-color);
  --aside-item-hover-background: var(--dark-2-color);
  --aside-item-active-background: var(--dark-2-color);

  /* Checkbox */
  --checkbox-color: var(--light-color);
  --checkbox-background: var(--dark-color);
  --checkbox-custom-hover-bg: var(--checkbox-custom-after-background);
  --checkbox-custom-after-background: var(--light-color);
  --checkbox-checked-background: var(--dark-2-color);
  --checkbox-disabled-bg: var(--gray-2-color);

  /* Popover */
  --popover-background: var(--dark-color);
  --popover-color: var(--body-color);

  /* Input */
  --input-color: var(--body-color);
  --input-bg: var(--dark-2-color);

  /* Auth Form */
  --auth-bg: var(--dark-color);

  /* Primary button */
  --btn-primary-color: var(--light-color);
  --btn-primary-bg: var(--dark-2-color);
  --btn-primary-before-bg: rgba(255, 255, 255, 0.05);
  --btn-primary-error-bg: var(--error-2-color);

  /* Github logo */
  --github-logo-dark: block;
  --github-logo-light: none;

  /* Goal */
  --goal-border-bottom-color: var(--purple-dark-2-color);
  --goal-goalAction-hover-bg: rgba(245, 245, 245, 0.05);
}
