.wrapper {
  position: sticky;
  top: 0;

  background: transparent;

  height: 108px;

  z-index: 1;

  padding: 12px 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px;

  border-radius: 12px;

  background: var(--header-background);

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.tabs {
  display: flex;
  align-items: center;
  gap: 6px;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px 20px;

  background: none;

  border: none;
  border-radius: 12px;

  font-size: 16px;
  font-weight: 400;

  color: var(--header-tab-color);

  text-decoration: none;

  cursor: pointer;

  box-shadow: none !important;

  transition: all 0.3s ease-in-out;
}

.tab:hover {
  background: var(--header-tab-color-hover);
}

.tab__active {
  background: var(--header-tab-color-active);
}

.asideToggle {
  display: none;
}

@media (max-width: 900px) {
  .asideToggle {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 43px;
    height: 43px;

    border: none;
    border-radius: 12px;

    cursor: pointer;

    color: var(--body-color);
    background: transparent;

    transition: all 0.3s ease-in-out;
  }
}
