.aside {
  width: 280px;
  height: calc(100dvh - 108px - 12px);

  background: var(--aside-background);

  padding: 30px 20px;

  position: sticky;
  left: 0;
  top: 108px;

  flex-shrink: 0;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;

  overflow-y: auto;
  overflow-x: hidden;

  z-index: 50;

  transition: all 0.2s ease-in-out;
}

@media (max-width: 900px) {
  .aside {
    position: absolute;
    left: -300px;

    opacity: 0;
    visibility: hidden;
  }

  .aside__open {
    left: 12px;

    opacity: 1;
    visibility: visible;
  }
}
