.item {
  margin: 8px 0;
  position: relative;
}

.link {
  position: relative;

  display: flex;
  align-items: center;

  padding: 15px 20px;

  color: var(--aside-item-color);

  text-decoration: none;

  font-size: 16px;

  border-radius: 8px;

  overflow: hidden;

  transition: all 0.3s ease-in-out;
}

.item__small {
  margin-left: 16px;
  padding: 8px 12px;
  font-size: 14px;
}

.link:hover {
  background: var(--aside-item-hover-background);

  transform: translateX(10px);
}

.link.active {
  background: var(--aside-item-active-background);
}

.link.active::before {
  display: none;
}

/* Icons */

.link::after {
  content: '→';

  margin-left: auto;

  opacity: 0;

  transition: opacity 0.3s ease-in-out;
}

.link:hover::after {
  opacity: 1;
}

.item__small::after {
  display: none;
}
